.estilologin{
    text-align: center;
    background-color: lightblue;
    width: 100%;
}

.m{
    background-color: orange;
    width: 100%;
}


.bu{
    width: 80%;
    background-color: blueviolet;
}
